# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
fastapienv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store  
fastapi-testing
main2.py
db.py

# Temporary hold on project for basics.
main.py
main2.py
models.py
movies.db
database.py
db.py
